name: Lint

on:
  pull_request:
    branches:
      - main
  workflow_call:

jobs:
  oxc:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2

      - run: bun install --frozen-lockfile
      - run: bun lint --deny-warnings
      - run: bun fmt:check
